
@font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
        format('woff'),
      url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
        format('woff'),
      url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
        format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'Phantom Sans';
    src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
        format('woff'),
      url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
        format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  .material-symbols-outlined {
    vertical-align: -0.35em;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 200,
    'opsz' NaN
  }

body {
    background-color: rgb(165, 65, 65);
    font-family: Phantom Sans, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
}
h1 {
    color: rgb(244, 244, 244);
    font-size: 100px;
}
h2 span {
    background-color: rgb(93, 6, 6);
    border-radius: 10px;
    padding: 10px;
    transition: box-shadow 0.3s ease-in-out;
}
h2 span:hover {
    box-shadow: 0px 0px 20px 10px rgba(175, 58, 72, 0.411);
}
h2.rotate {
    transform: rotate(-0.5deg);
}
@media (max-width: 900px) {
    h2.rotate {
        font-size: 12px;
    }
}
@media (max-width: 620px) {
    h2.rotate {
        font-size: 10px;
    }
}

#bodycontent {
    opacity: 0;
    transform: translateY(40px);
}
#bodycontent.load {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0s ease-in-out, transform 1s ease-in-out;
}
#spacing {
    height: 100px;
}

#animated-text span {
    z-index: 0;
    display: inline-block;
    animation: bounce 2s infinite ease-in-out;
    transition: opacity 0.3s;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}
#animated-text span:hover {
    opacity: 0.65;
}
#animated-text {
    opacity: 0;

}
#animated-text.loaded {
    cursor: pointer;
    opacity: 1 !important;
    transition: opacity 1s;
}

#animated-text span:nth-child(1) { animation-delay: 0s; }
#animated-text span:nth-child(2) { animation-delay: 0.1s; }
#animated-text span:nth-child(3) { animation-delay: 0.25s; }
#animated-text span:nth-child(4) { animation-delay: 0.4s; }
#animated-text span:nth-child(5) { animation-delay: 0.45s; }
#animated-text span:nth-child(6) { animation-delay: 0.55s; }

@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

#flag {
    position: fixed;
    margin: 0;
    top: 0; 
    left: 25px;
    z-index: 1000;
    width: 150px;
    opacity: 1;
    height: auto;
    transform-origin: center;
    transition: transform 1s;


    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -o-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}
#flag:hover {
    cursor: pointer;
    opacity: 90%;
    transform: rotate(10deg);
}
@media (max-width: 700px) {
    #flag {
        width: 120px;
    }
}

#navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0 20px 50px rgba(95, 50, 55, 80%);
    transition: box-shadow 0.3s ease-in-out;
}
#navbar:hover {
    box-shadow: 0 35px 45px rgba(184, 181, 181, 0.211);
}

#logo svg {
    height: 70px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    width: auto;
}
#logo {
    transform: translateY(-40px);
    opacity: 50%;
    transition: opacity 1s, transform 0.8s ease-out;
}
#logo.loaded {
    opacity: 1;
    transform: translateY(0);
}

.searchbar {
    padding: 10px;
    font-family: Phantom Sans, sans-serif;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    transition: box-shadow 0.3s ease-in-out;
}
.searchbar:hover {
    box-shadow: 0px 10px 30px 15px rgba(93, 61, 61, 0.711);
}
.searchbutton {
    padding: 5px;
    background-color: darkred;
    border-radius: 360px;
    margin-left: 10px;
    color: white;
    font-weight: 700px;
    transition: transform 0.5s ease-in-out;
    border: none;
}
.searchbutton:hover {
    background-color: rgb(79, 29, 29);
    cursor: pointer;
    transform: rotate(-10deg);
}

#signin button {
    background-color: darkred;
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    border: none;
    font-family: Phantom Sans, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#signin button span {
    vertical-align: -0.3em;
}
#signin button:hover {
    background-color:  rgb(93, 61, 61);
    cursor: pointer;
}